/*aplicamos reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    display: grid;
    align-items: start;
    grid-template-areas: "header header"
        "main aside"
        "ultima aside"
        "memes aside"
        "footer footer"
    ;
    /*grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(5,1fr);*/

}

/*header*/
.header {
    background-color: #123;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    grid-area: header;
    /*grid-column: 1/3;
    grid-row: 1/2;*/
    z-index: 10;
}

.header__home {
    display: inline-block;
}

header nav form {
    display: inline-block;
    /*margin-left: 380px;*/
    margin-right: 50px;
    padding-bottom: 5px;
}

.header__home a {
    text-decoration: none;
    color: rgb(21, 97, 168);
}

.header nav ul a {
    text-decoration: none;
    color: rgb(21, 97, 168);
}

.header h1 a b {
    display: inline-block;
    padding-left: 5px;
    margin: 8px;
    font-size: 23px;
}

header nav ul {
    display: inline-block;
}

header nav ul li {
    text-decoration: none;
    display: inline-block;

}

header nav {
    display: inline-block;
}

.header form input {
    display: inline-block;
    padding: 5px;
    right: 280px;

}

.header__buscador {
    display: inline-block;
}

.header__contacto {
    right: 5px;

}

.header__usuario {
    right: 150px;
    padding-right: 80px;
}

.header__biblioteca {
    /*right: 280px;*/
    padding-left: 10px;
}

/*todo el aside*/
.aside-height {
    /*background-color: #222;*/
    grid-area: aside;

}

.aside {
    /*position: absolute;*/
    width: 350px;
    height: 100%;
    margin-top: 57px;
    /*grid-area: aside;*/
    /*grid-column: 2/3;
    grid-row: 2/4;*/


}

.aside__chat-web {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section .aside div .aside__chat-web {
    background-color: #234;
    height: 400px;

}

section .aside .aside__chat-web h2 {
    background-color: #123;
    text-align: center;
    font-size: 21px;
    color: rgb(21, 97, 168);
    text-shadow: 1px 1px 4px rgb(17, 80, 138);
    width: 350px;
}

section .aside div .aside__chat-web .aside__chat-web__chat {
    /*position: absolute;*/
    background-color: #fff;
    width: 330px;
    height: 320px;
    /*right: 10px;*/

}

section .aside div .aside__chat-web div form {
    /*position: absolute;*/
    /*top: 335px;
    left: 12px;*/
    padding: 10px;
}

section .aside .aside__chat-web div form .text {
    width: 270px;
    padding: 5px;
}

section .aside__discord {
    background-color: #5865f2;
    height: 56px;
}

section .aside__discord div h3 {
    text-align: center;
    padding-top: 11px;
}

section .aside__discord div h3 a {
    text-decoration: none;
}

section .aside__discord div h3 a {
    color: #fff;
    font-size: 32px;

}

section .aside__discord div span {
    color: #fff;
    font-size: 15px;
    padding-left: 32px;
}

section .aside__discord div div {
    width: 350px;
    height: 300px;
    background-color: #123;
    opacity: 12px;
}

section .aside__top-10 div {
    background-color: #234;
}

.uno {
    color: gold;
}

.aside__top-10__n {
    background-color: rgba(7, 46, 221, 0.966);
    color: #000;
    display: inline-block;
    padding-left: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
}

section .aside__top-10 div div div {
    text-align: center;
}

section .aside__top-10 h2 {
    background-color: rgb(0, 48, 100);
    text-align: center;
}

section .aside .aside__top-10 div b a {
    color: rgb(21, 97, 168);
    text-decoration: none;
}
section .aside .aside__top-10 div b a:hover{
    color: gold;
    transition: 0.8s;
}




/*todo main*/
main {
    grid-area: main;
    /*grid-column: 1/2;*/
}

.img-box {
    margin-top: 57px;

}

.grid-ultimo {
    grid-area: ultima;
}

.manga {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    background-color: #1550ce;
    display: inline-block;
    /*width: 960px;*/
    /*height: 884px;*/
    /*overflow: hidden;*/
}


/*.manga div div{
    padding: 5px;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
}*/
.manga-flex {
    padding: 5px;
    /*display: inline-block;*/
    display: flex;
    flex-wrap: wrap;
}

.manga div div div {
    width: 20%;
    /*nuca mas*/
    padding: 5px;
    /*width: 190px;*/
    overflow: hidden;

}

/*.manga div div a {
    width: 20%;
}*/
.manga div div a img {
    width: 100%;
    transition: 0.5s;
    object-fit: cover;

}
.manga div div a img:hover{
    transform: scale(1.2);
}

.manga h3 {
    text-align: center;
    background-color: #002066;

}

/*footer*/
footer {
    background-color: #123;
    height: 70px;
    grid-area: footer;
    /*grid-column: 1/3;*/
}

footer .siguenos {
    /*position: absolute;*/
    text-align: center;

}

footer .small {
    background-color: rgb(0, 71, 143);
    text-align: center;
    height: 18px;
    /*padding-top: 50px;*/

}

footer .small small {
    text-align: center;
}

footer div .siguenos nav ul li {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
}

footer div .siguenos nav ul li a {
    color: deepskyblue;
    text-decoration: none;

}

footer div .siguenos {
    right: 640px;

}

/*section*/
.meme-grid {
    grid-area: memes;
}

section .memes {
    background-color: #1550ce;
    /*width: 970px;*/
    margin-left: 5px;
    /*grid-area: memes;*/
    /*grid-column: 1/2;*/
}

.memes-flex {
    display: grid;
    grid-template-areas: "chaman eva"
        "cora video"
    ;

}

section .memes h4 {
    background-color: #002066;
    text-align: center;
    font-size: 25px;
}

section .memes div {
    /*display: inline-block;*/
    padding: 4px;
}

section .memes div .chaman img,
section .memes div .eva img {
    /*width: 439px;*/
    width: 100%;

}

.chaman {
    grid-area: chaman;
}

.eva {
    grid-area: eva;
}

section .memes div .cora img {
    /*width: 450px;*/

    width: 100%;
    grid-area: cora;
}

section .memes div iframe {
    /*width: 500px;*/
    height: 315px;
    width: 100%;
    grid-area: video;
}

/*biblioteca*/
.biblioteca-body {

    grid-template-areas: "header header"
        "main main"
        "footer footer"
    ;



}

/*main*/
.biblioteca-flex {
    width: 100%;
}

.main-biblioteca__flex {
    display: flex;
    flex-wrap: nowrap;
    grid-area: main-biblioteca;
}

.main-biblioteca__form {
    background-color: #003ec5;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 20px;
    /*grid-area: aside-buscador;*/

}

main div .main-biblioteca__form input {
    margin-top: 8px;
}

.main-biblioteca__form__buscador {
    width: 500px;
    height: 30px;
    font-size: 18px;
    margin-left: 10px;
}

.main-biblioteca__form__enviar {
    padding: 6px;
}

.biblioteca-box {
    display: inline-block;
    margin-top: 0px;
    /*grid-area: main-biblioteca ;*/
}

.main-biblioteca__aside {
    background-color: aqua;
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
    grid-area: aside-biblioteca;
}

.main-biblioteca__aside__h4 {
    text-align: center;
    background-color: #002066;
    width: 180px;
    width: 50vh;
}

.siguiente-biblioteca {
    margin-left: 830px;
}

/*capitulo-01*/
/*main*/
main .cap-t {
    background-color: #5865f2;
    text-align: center;
}

main .cap-t h2 {
    color: #000;
}

main .cap-t h3 span {
    color: rgb(0, 0, 255);
}

.cap-img {
    width: 100%;
}

/*.cap-img-body{
    width: 20%;
}*/
main .cap-img img {
    width: 100%;
}

main .siguiente-cap {
    background-color: #1550ce;
    padding: 5px;
    height: 30px;
}

.anterior-buttom {
    margin-left: 10px;
}

.siguiente-buttom {
    margin-left: 1200px;
}

/*teles of demos ad gods*/
/*main*/
main .tales-of-demons-and-gods {
    display: flex;
    flex-wrap: nowrap;
    background-color: #194094;
}

main .tales-of-demons-and-gods div h4 {
    background-color: #0051ff8e;
    width: 300px;
    position: absolute;
    text-align: center;
}

.img-manhua {
    padding: 8px;
}

.historia-manhua {
    background-color: #5865f2cc;
    padding: 8px;


}

main .tales-of-demons-and-gods div h2 {
    background-color: rgba(137, 43, 226, 0.726);
    text-align: center;
}

main .tales-of-demons-and-gods div p {
    background-color: rgba(45, 45, 255, 0.822);
}

.capitulos-manhua {
    background-color: #2051b9;
    overflow: auto;
    width: 900px;
    height: 500px;
    margin: 5px;
}

main .capitulos-manhua h3 {
    background-color: rgba(137, 43, 226, 0.726);
    text-align: center;
}

main .capitulos-manhua div ul li {
    background-color: #2631a5;
    margin: 3px;

}

main .capitulos-manhua div ul li a {
    font-size: 22px;
    color: #000;
    text-decoration: none;
}

.aside-manhua {
    margin-top: 420px;
}

/*formulario*/
/*main*/
.form-grid {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

.mein-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.mein-form .main-form__flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*margin-top: 100px;*/

    margin: 0 auto;
}

.form-center {
    margin: auto;
}

.mein-form .main-form__flex div .formulario fieldset {
    text-align: center;
}

.mein-form .main-form__flex div .formulario fieldset h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.apellido-nombre {
    margin-bottom: 5px;
}

.text-asunto {
    margin-left: -10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mein-form .main-form__flex div .formulario fieldset .mail .text-asunto textarea {
    width: 350px;
}

.form-enviar {
    margin-left: 300px;
    margin-bottom: 20px;
}

main div .formulario fieldset {
    background-color: #1745aa;
    width: 470px;
    /*height: 350px;*/
}

.mein-form .main-form__flex div .formulario fieldset .mail input {
    margin-left: -90px;
}

.mein-form .main-form__flex div .formulario fieldset .genero {
    margin-left: -200px;

}

.mein-form .main-form__flex div .formulario fieldset .mail .password {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 95px;
}

.mein-form .main-form__flex div .formulario fieldset .mail .password .repetir-password {
    margin-left: 5px;
}

.box-form {
    height: 250px;
}

/*mediaqueri*/
/*home*/
@media screen and (max-width:480px) {
    .home-body {

        background-color: #000;
        grid-template-areas: "header header"
            "main main"
            "ultima ultima"
            "memes memes"
            "aside aside"
            "footer footer"
        ;

    }


    .header {
        flex-direction: column;
    }

    .manga-flex {
        padding: 0px;
    }

    .manga {
        height: 1033px;
        overflow: hidden;
    }

    .manga div div div {
        width: 50%;
    }

    .aside-height {
        display: flex;
        justify-content: center;
    }

    header nav form {
        margin-left: 0;
    }
}

/*biblioteca*/
@media screen and (max-width:480px) {
    .biblioteca-body {
        background-color: #ff00ea;
        width: 480px;

    }

    .main-biblioteca {
        display: grid;
        align-items: start;
        width: 100%;
        grid-template-areas: "aside-buscador aside-buscador"

            "main-biblioteca main-biblioteca"

    }

    .biblioteca-flex {
        height: 3418px;
    }

    .manga div div div {
        width: 50%;
    }

    .main-biblioteca__aside {
        text-align: center;
    }

    .main-biblioteca__aside__h4 {
        width: 100%;
    }

    .main-biblioteca__flex {
        display: flex;
        flex-wrap: wrap;

    }
}

/*formulario*/