//variables
@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixin";
@import "utilities/extend";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

//body home
body {
    color: $color-letra;
    background: linear-gradient($color-fondo-opacity, $color-fondo-opacity), url(../img/aleatorias/bg-fondo.jpg) no-repeat center center fixed $color-fondo;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;

    a {
        text-decoration: none;
        color: $color-letra;
    }

    header {
        max-width: 100%;
    }

    main {
        min-height: calc(100vh - 59px - 90px);
        max-width: 100%;
        min-width: 100%;
    }

    footer {
        margin-top: 10px;
        max-width: 100%;
    }

    h1 {
        font-size: 23px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }

    ul {
        margin-bottom: 0;
        padding-left: 0;
    }

    .header-a {
        margin-right: 25px;
    }

    .header-a,
    .navbar-nav .nav-link.active {
        color: $color-letra;
    }

    select {
        word-wrap: normal;
    }


}

.body-todos {
    display: grid;
    align-items: start;
    grid-template-areas: "header header"
        "main aside"
        "ultima aside"
        "memes aside"
        "footer footer"
    ;

    .header-home {
        grid-area: header-home;
    }

    header {
        div {
            nav {
                background-color: $color-primario;

                div {
                    div {
                        ul {
                            form {
                                display: inline-block;
                                margin-right: 50px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }

            nav {
                div {
                    .navbar-collapse {
                        justify-content: space-between;

                        ul {
                            .header-nav-1 {
                                margin-right: 40px;
                            }

                            .header-nav-2 {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    /*main home*/
    .main-home {
        grid-area: main-home;
    }

    main {
        .img-box {
            margin-top: 57px;

            .manga {
                margin-right: 10px;
                margin-left: 10px;
                margin-bottom: 25px;
                background-color: $color-secundario-opacity;
                display: inline-block;

                h3 {
                    background-color: $color-primario;
                    text-align: center;
                }

                div {
                    .manga-flex {
                        @extend %manga-flex;

                        div {
                            @extend %manga-box;

                            a {
                                img {
                                    @extend %manga-img;
                                }

                                img:hover {
                                    @extend %manga-img-hover;
                                }
                            }
                        }
                    }

                    .boton-de-mostrar-mas {
                        @extend %box-button;
                        justify-content: center;

                        button {
                            @extend %buttom-todos;
                            justify-content: center;

                            .i-1 {
                                @extend %i-buttom-1;
                            }

                            .i-2 {
                                @extend %i-buttom-2;
                            }
                        }

                        button:hover {
                            @extend %buttom-todos-hover;
                        }
                    }
                }
            }
        }
    }

    /*todo el aside*/
    .aside-home {
        display: flex;
        justify-content: center;
        grid-area: aside-home;

        .aside {
            width: 350px;
            height: 100%;
            margin-top: 57px;

            &__flex-chat {
                &__chat-web {
                    display: flex;
                    background-color: $color-secundario;
                    height: 400px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        background-color: $color-primario;
                        text-align: center;
                        font-size: 21px;
                        color: rgb(21, 97, 168);
                        text-shadow: 1px 1px 4px $color-tercero;
                        width: 350px;
                    }

                    &__chat {
                        background-color: $color-cuarto;
                        width: 330px;
                        height: 320px;
                    }

                    div {
                        form {
                            padding: 10px;

                            .text {
                                @include medidas(270px, 5px);
                            }
                        }
                    }
                }

            }

            &__discord {
                background-color: $color-quinto;
                height: 56px;

                div {
                    h3 {
                        text-align: center;
                        padding-top: 11px;

                        a {
                            color: $color-cuarto;
                            font-size: 32px;
                        }

                        span {
                            color: $color-cuarto;
                            font-size: 15px;
                            padding-left: 32px;
                        }
                    }
                }
            }

            &__top-10 {
                h2 {
                    background-color: $color-primario-opavity;
                    text-align: center;
                }

                &__top-todo {
                    background-color: $color-secundario-opacity;

                    &__div {
                        &__n {
                            text-align: center;
                            background-color: $color-primario-opavity;
                            color: #000;
                            display: inline-block;
                            padding-left: 5px;
                            width: 50px;
                            font-size: 30px;
                        }

                        b {
                            a {
                                color: $color-letra;
                            }

                            a:hover {
                                color: gold;
                                transition: 0.8s;
                            }
                        }

                    }
                }
            }
        }
    }

    .memes-home {
        margin-right: 8px;
        grid-area: memes-home;

        .memes {
            background-color: $color-sexto-opacity;
            margin-left: 5px;

            h4 {
                background-color: $color-primario;
                text-align: center;
                font-size: 25px;
            }

            .memes-flex {
                padding: 4px;
                display: grid;
                grid-template-areas:
                    "chaman eva"
                    "cora video"
                    "boton-de-mostrar-mas boton-de-mostrar-mas";

                .chaman {
                    grid-area: chaman;

                    img {
                        width: 100%;
                    }
                }

                .eva {
                    grid-area: eva;

                    img {
                        width: 100%;
                    }
                }

                .cora {
                    img {
                        width: 100%;
                        grid-area: cora;
                    }
                }

                iframe {
                    height: 315px;
                    width: 100%;
                    grid-area: video;
                }

                .boton-de-mostrar-mas {
                    grid-area: boton-de-mostrar-mas;
                    @extend %box-button;
                    justify-content: center;

                    button {
                        @extend %buttom-todos;

                        .i-1 {
                            @extend %i-buttom-1;
                        }

                        .i-2 {
                            @extend %i-buttom-2;
                        }
                    }

                    button:hover {
                        @extend %buttom-todos-hover;
                    }
                }
            }
        }

        .grid-ultimo {
            grid-area: ultima;
            margin-top: 25px;
        }

        .img-box {
            margin-left: 10px;

            .manga {
                h3 {
                    text-align: center;
                    background-color: $color-primario;
                }

                div {
                    background-color: $color-secundario-opacity;

                    .manga-flex {
                        @extend %manga-flex;

                        div {
                            @extend %manga-box;

                            a {
                                img {
                                    @extend %manga-img;
                                }

                                img:hover {
                                    @extend %manga-img-hover;
                                }
                            }
                        }
                    }

                    .botones-de-cambio {
                        @extend %box-button;

                        .anterior {
                            @extend %buttom-todos;

                            i {
                                @extend %i-buttom-1;
                            }
                        }

                        .anterior:hover {
                            @extend %buttom-todos-hover;
                        }

                        .siguiente {
                            @extend %buttom-todos;

                            i {
                                @extend %i-buttom-2;
                            }
                        }

                        .siguiente:hover {
                            @extend %buttom-todos-hover;
                        }
                    }
                }
            }
        }
    }

    .footer-home {
        grid-area: footer-home;
    }

    footer {
        background-color: $color-primario;
        height: 90px;
        width: 100%;

        div {
            .siguenos {
                text-align: center;

                nav {
                    ul {
                        li {
                            display: inline-block;
                            height: 30px;
                            width: 30px;
                            text-align: center;

                            a {
                                color: aqua;
                            }
                        }
                    }
                }
            }

            .small {
                text-align: center;
                height: 20px;

                small {
                    text-align: center;
                }
            }
        }
    }
}

.home-body {
    grid-template-areas: "header-home header-home"
        "main-home aside-home"
        "ultima aside-home"
        "memes-home aside-home"
        "footer-home footer-home"
    ;
}

.body-biblioteca {
    grid-template-areas:
        "header-biblioteca header-biblioteca"
        "main-biblioteca main-biblioteca"
        "footer-biblioteca footer-biblioteca";

    .header-biblioteca {
        grid-area: header-biblioteca;
    }

    .main-biblioteca {
        grid-area: main-biblioteca;

        div {
            grid-area: aside-buscador aside-buscador;

            .main-biblioteca__form {
                background-color: $color-secundario;
                height: 45px;
                margin-top: 25px;
                margin-bottom: 20px;

                input {
                    margin-top: 5px;
                }

                .main-biblioteca__form__buscador {
                    width: 50%;
                    height: 30px;
                    font-size: 18px;
                    margin-left: 10px;
                }

                .main-biblioteca__form__enviar {
                    padding: 4px;
                }
            }
        }

        .main-biblioteca__flex {
            display: flex;
            flex-wrap: nowrap;
            grid-area: main-biblioteca;
            max-width: 100%;

            .main-biblioteca__aside {
                background-color: $color-secundario-opacity;
                display: map-get($map: $biblioteca__aside, $key: biblioteca-display);
                width: map-get($map: $biblioteca__aside, $key: biblioteca-width);
                margin-top: map-get($map: $biblioteca__aside, $key: biblioteca-margin-top);
                margin-left: map-get($map: $biblioteca__aside, $key: biblioteca-margin-left);
                margin-right: map-get($map: $biblioteca__aside, $key: biblioteca-margin-right);
                grid-area: aside-biblioteca;

                div {
                    .main-biblioteca__aside__h4 {
                        text-align: center;
                        background-color: $color-primario;
                        width: 100%;
                    }

                    div {
                        text-align: center;
                    }
                }

                div {
                    div {
                        .main-biblioteca__aside__h4 {
                            text-align: center;
                            background-color: $color-primario;
                            width: 100%;
                        }
                    }
                }

                div {
                    .main-biblioteca__aside__h4 {
                        text-align: center;
                        background-color: $color-primario;
                        width: 100%;
                    }
                }
            }

            .biblioteca-box {
                display: inline-block;
                margin-top: 0px;

                div {
                    width: 100%;

                    .biblioteca-flex {
                        width: 100%;
                        margin-bottom: 25px;
                        background-color: $color-secundario-opacity;
                        display: inline-block;

                        h3 {
                            text-align: center;
                            background-color: $color-primario;
                        }

                        div {
                            .manga-flex {
                                padding: 5px;
                                @extend %manga-flex;

                                div {
                                    @extend %manga-box;

                                    a {
                                        img {
                                            @extend %manga-img;
                                        }

                                        img:hover {
                                            @extend %manga-img-hover;
                                        }
                                    }
                                }
                            }
                        }

                        .botones-de-cambio {
                            @extend %box-button;

                            .anterior {
                                @extend %buttom-todos;

                                i {
                                    @extend %i-buttom-1;
                                }
                            }

                            .anterior:hover {
                                @extend %buttom-todos-hover;
                            }

                            .siguiente {
                                @extend %buttom-todos;

                                i {
                                    @extend %i-buttom-2;
                                }
                            }

                            .siguiente:hover {
                                @extend %buttom-todos-hover;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-biblioteca {
        grid-area: footer-biblioteca;
    }
}

.body-form {
    grid-template-areas:
        "header-formu"
        "main-formu"
        "footer-formu";

    .main-formu {
        grid-area: main-formu;
        margin-top: 10px;

        .mein-form {
            display: flex;
            align-items: center;
            width: 100%;

            .main-form__flex {
                margin: 0 auto;
                margin-top: 50px;
                margin-bottom: 50px;

                div {
                    .formulario {
                        @extend %padding-10px;
                        fieldset {
                            text-align: center;
                            background-color: $color-sexto-opacity;
                            width: 100%;
                            padding: 20px;

                            h2 {
                                text-align: center;
                                margin-top: 25px;
                                margin-bottom: 10px;
                            }

                            .apellido-nombre {
                                margin-bottom: 5px;

                                input {
                                    @extend %input-todos;
                                }
                                input:hover{
                                    @extend %input-hover;
                                }
                                input:focus{
                                    @extend %input-focus;
                                }
                            }

                            .mail {
                                input {
                                    margin-left: -78px;
                                    @extend %input-todos;
                                }
                                input:hover{
                                    @extend %input-hover;
                                }
                                input:focus{
                                    @extend %input-focus;
                                }
                                select{
                                    @extend %input-todos;
                                    option{
                                        background-color: $color-sexto-opacity;
                                    }
                                }
                                select:hover{
                                    @extend %input-hover;
                                }
                                select:focus{
                                    @extend %input-focus;
                                }

                                .text-asunto {
                                    margin-left: -10px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;

                                    textarea {
                                        width: 85%;
                                        @extend %input-todos;
                                    }
                                    textarea:hover{
                                        @extend %input-hover;
                                    }
                                    textarea:focus{
                                        @extend %input-focus;
                                    }
                                }
                            }

                            
                                .form-enviar {
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                    width: 100%;
                                    @extend %forms-enviar;
                                }
                                .form-enviar:hover{
                                    @extend %buttom-todos-hover;
                                }
                            
                        }
                    }
                }
            }
        }
    }
}

.cap-img-body {
    display: inline-block;

    main {
        .cap-t {
            text-align: center;
            background-color: $color-quinto;

            h2 {
                color: $color-negro;
            }

            h3 {
                @extend %manga-flex;
                justify-content: center;

                span {
                    color: $color-azul;
                }
            }
        }

        .cap-img {
            img {
                width: 100%;
            }
        }

        .siguiente-cap {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: $color-sexto;
        }
    }

    .footer-cap {
        margin-top: 0;
    }
}

.body-regis {
    grid-template-areas:
        "header-regis"
        "main-regis"
        "footer-regis";
    align-items: center;

    .header-regis {
        grid-area: header-regis;
    }

    .main-form {
        grid-area: main-regis;
        display: flex;
        align-items: center;
        width: 100%;

        &__flex {
            display: flex;
            justify-content: center;
            margin: 0 auto;

            .box-form {
                height: 250px;
                margin-top: 50px;
                margin-bottom: 50px;
                .formulario {
                    @extend %padding-10px;
                    fieldset {
                        text-align: center;
                        background-color: $color-sexto-opacity;
                        padding: 20px;
                        width: 100%;

                        h2 {
                            text-align: center;
                            margin-top: 25px;
                            margin-bottom: 10px;
                        }

                        .apellido-nombre {
                            margin-bottom: 5px;
                            input{
                                @extend %input-todos;
                            }
                            input:hover{
                                @extend %input-hover;
                            }
                            input:focus{
                                @extend %input-focus;
                            }
                        }

                        .genero {
                            label{
                                color:$color-negro;
                            }
                        }

                        .mail {
                            input {
                                margin-left: -80px;
                                @extend %input-todos;
                            }
                            input:hover{
                                @extend %input-hover;
                            }
                            input:focus{
                                @extend %input-focus;
                            }
                            select{
                                @extend %input-todos;
                                option{
                                    background-color: $color-sexto-opacity;
                                }
                            }
                            select:hover{
                                @extend %input-hover;
                            }
                            select:focus{
                                @extend %input-focus;
                            }

                            .password {
                                margin-top: 5px;
                                margin-bottom: 5px;
                                margin-left: 95px;

                                input {
                                    margin-left: -90px;
                                }

                                .repetir-password {
                                    margin-left: 5px;
                                }
                            }
                        }
                        .box-enviar{
                            
                        .form-enviar {
                            margin-top: 20px;
                            margin-bottom: 20px;
                            width: 100%;
                            @extend %forms-enviar;
                        }
                        .form-enviar:hover{
                            @extend %buttom-todos-hover;
                        }
                        }
                    }
                }
            }
        }
    }

    .footer-regis {
        grid-area: footer-regis;
    }
}

.manga-descripcion {
    grid-template-areas: "header-manga-descripcion header-manga-descripcion"
        "main-manga-descripcion main-manga-descripcion"
        "footer-manga-descripcion footer-manga-descripcion"
    ;

    header {
        grid-area: header-manga-descripcion;
    }

    main {
        grid-area: main-manga-descripcion;
        display: grid;
        grid-template-areas: "div-descripsion div-descripsion div-descripsion"
            "capitulo capitulo aside"
            "memes memes memes"
        ;

        .div-descripcion {
            display: flex;
            flex-wrap: nowrap;
            grid-area: div-descripsion;
            margin-bottom: 50px;
            margin-top:20px;

            .img {
                margin-left: 80px;
                padding: 8px;
                width: 65%;
                position: relative;

                h4 {
                    background-color: $color-sexto-opacity;
                    width: calc(100% - 16px);
                    position: absolute;
                    text-align: center;
                }

                img {
                    width: 100%;
                }
            }

            div {
                 padding: 8px;
                 padding-right: 80px;
                .historia-titulo {

                    padding: 8px;
                    width: 100%;
                    background-color: $color-sexto-opacity;

                    h2 {
                        text-align: center;
                        padding-bottom: 10px;
                    }
                }
            }
        }

        .box-capitulos {
            padding: 8px;
            grid-area: capitulo;
            .capitulos {
                background-color: $color-sexto-opacity;
                width: 100%;

                h3 {
                    text-align: center;
                    background-color: $color-primario-opacity;
                }

                div {
                    overflow: auto;
                    height: 500px;

                    ul {
                        li {
                            margin-left: 8px;
                            font-size: 1.3rem;

                            a:hover {
                                color: $color-negro;

                            }
                        }
                    }
                }
            }
        }

        section {
            margin-top: 20px;
            width: 70%;
            grid-area: memes;
            padding: 8px;

            h4 {
                background-color: $color-primario-opacity;
                text-align: center;
            }

            div {
                padding: 4px;
                display: grid;
                grid-template-areas:
                    "chaman eva"
                    "cora video";
                background-color: $color-sexto-opacity;

                .chaman {
                    grid-area: chaman;

                    img {
                        width: 100%;
                    }
                }

                .eva {
                    grid-area: eva;

                    img {
                        width: 100%;
                    }
                }

                .cora {
                    grid-area: cora;

                    img {
                        width: 100%;
                    }
                }

                iframe {
                    height: 315px;
                    width: 100%;
                    grid-area: video;
                }
            }
        }

        .aside {
            width: 350px;
            height: 100%;
            grid-area: aside;
            margin: auto;
            margin-top: 50px;

            &__manhua {
                &__chat-web {
                    display: flex;
                    background-color: $color-secundario;
                    height: 400px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        background-color: $color-primario;
                        text-align: center;
                        font-size: 21px;
                        color: rgb(21, 97, 168);
                        text-shadow: 1px 1px 4px $color-tercero;
                        width: 350px;
                    }

                    &__chat {
                        background-color: $color-cuarto;
                        width: 330px;
                        height: 320px;
                    }

                    div {
                        form {
                            padding: 10px;

                            .text {
                                @include medidas(270px, 5px);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        grid-area: footer-manga-descripcion;
    }

}

.body-uso-usuario {
    header {
        div {
            nav {
                background-color: $color-primario;

                div {
                    div {
                        ul {
                            form {
                                display: inline-block;
                                margin-right: 50px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }

            nav {
                div {
                    .navbar-collapse {
                        justify-content: space-between;

                        ul {
                            .header-nav-1 {
                                margin-right: 40px;
                            }

                            .header-nav-2 {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        section {
            div {
                div {
                    div {
                        .n-usuario {
                            background-color: $color-sexto;
                            font-size: 25px;
                        }

                        div {
                            .usuario-img {
                                width: 260px;
                                height: 260px;
                            }
                        }
                    }
                }
            }
        }

        .listas-contenedor {
            background-color: $color-primario;
            margin-bottom: 20px;

            div {
                div {
                    div {
                        div {
                            .pending-link {
                                padding: 10px 0px 10px 0px;

                                div {
                                    a {
                                        div {
                                            div {
                                                .X2 {
                                                    font-size: 25px;
                                                }

                                                .listas-icono {
                                                    padding-right: 8px;
                                                }
                                            }

                                            div {
                                                .span-lista {
                                                    display: block;
                                                    font-size: 23px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div {
            div {
                div {
                    div {
                        div {
                            div {
                                .float-right {
                                    float: right;
                                }
                            }
                        }

                        div {
                            h3 {
                                .icino-x {
                                    font-size: 200px;
                                }
                            }
                        }

                        div {
                            a {
                                .img-grupos {
                                    width: 80%;
                                }
                            }
                        }
                    }

                    .aside__top-10 {
                        .h2-usuario {
                            background-color: $color-primario-opavity;
                        }

                        .top-10-n {
                            background-color: $color-secundario-opacity;

                            div {
                                .aside__top-10__n {
                                    background-color: $color-primario-opavity;
                                    color: $color-negro;
                                    display: inline-block;
                                    padding-left: 5px;
                                    width: 40px;
                                    height: 40px;
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: $color-primario;
        height: 90px;
        width: 100%;

        div {
            .siguenos {
                text-align: center;

                nav {
                    ul {
                        li {
                            display: inline-block;
                            height: 30px;
                            width: 30px;
                            text-align: center;

                            a {
                                color: aqua;
                            }
                        }
                    }
                }
            }

            .small {
                text-align: center;
                height: 20px;

                small {
                    text-align: center;
                }
            }
        }
    }
}

ul {
    list-style: none;
}

/*mesiaqueris*/
@import "utilities/mediaqueris";