//variables
@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixin";
@import "utilities/extend";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
//body home
body {
    color: $color-letra;
    background:linear-gradient($color-fondo-opacity , $color-fondo-opacity), url(../img/aleatorias/bg-fondo.jpg) no-repeat center center fixed $color-fondo;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;

    a {
        text-decoration: none;
        color: $color-letra;
    }
    main{
        min-height: calc(100vh - 59px - 90px);
        max-width: 100%;
    }
    footer{
        margin-top: 10px;
    }

    h1 {
        font-size: 23px;
    }
    h1,h2,h3,h4,h5,h6{
        margin-bottom: 0;
    }
    ul{
        margin-bottom: 0;
        padding-left: 0;
    }
    .header-a{
        margin-right: 25px;
    }
    .header-a,.navbar-nav .nav-link.active{
        color: $color-letra;
    }
    select {
        word-wrap: normal;
    }
    

}
.body-todos {
    display: grid;
    align-items: start;
    grid-template-areas: "header header"
        "main aside"
        "ultima aside"
        "memes aside"
        "footer footer"
    ;
    .header-home{
        grid-area: header-home;
    }
    header {
        div {
            .nav-backgro-uso {
                background-color: $color-primario;
                              div {
                                  div {
                                      ul {
                                          form {
                                              display: inline-block;
                                              margin-right: 50px;
                                              padding-bottom: 5px;
                                          }
                                      }
                                  }
                              }
            }
            nav{
                div{
                    .navbar-collapse {
                        justify-content: space-between;
                        ul{
                            .header-nav-1 {
                                margin-right: 40px;
                            }
                            .header-nav-2 {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    /*main home*/
    .main-home{
        grid-area: main-home;
    }
    main{
        .img-box{
            margin-top: 57px;
            .manga{
                margin-right: 10px;
                margin-left: 10px;
                margin-bottom: 25px;
                background-color: $color-secundario;
                display: inline-block;
                h3{
                    background-color: $color-primario;
                    text-align: center;
                }
                div{
                    .manga-flex{
                        @extend %manga-flex;
                        div{
                            @extend %manga-box;
                            a{
                                img{
                                    @extend %manga-img;
                                }
                                img:hover{
                                    @extend %manga-img-hover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*todo el aside*/
    .aside-home{
        display: flex;
        justify-content: center;
        grid-area: aside-home;
        .aside{
            width: 350px;
            height: 100%;
            margin-top: 57px;
            &__flex-chat{
                &__chat-web{
                    display: flex;
                    background-color: $color-secundario ;
                    height: 400px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        background-color: $color-primario;
                        text-align: center;
                        font-size: 21px;
                        color: rgb(21, 97, 168);
                        text-shadow: 1px 1px 4px $color-tercero;
                        width: 350px;
                    }
                    &__chat{
                        background-color: $color-cuarto;
                        width: 330px;
                        height: 320px;
                    }
                    div{
                        form{
                            padding: 10px;
                            .text{
                                @include medidas(270px,5px);
                            }
                        }
                    }
                }
                
            }
            &__discord{
                background-color: $color-quinto;
                height: 56px;
                div{
                    h3{
                        text-align: center;
                        padding-top: 11px;
                        a{
                            color: $color-cuarto;
                            font-size: 32px;
                        }
                        span{
                            color: $color-cuarto;
                            font-size: 15px;
                            padding-left: 32px;
                        }
                    }
                }
            }
            &__top-10{
                h2{
                    background-color: $color-primario;
                    text-align: center;
                }
                &__top-todo{
                    background-color: $color-secundario;
                    &__div{
                        &__n{
                            text-align: center;
                            background-color: $color-primario;
                            color: #000;
                            display: inline-block;
                            padding-left: 5px;
                            width: 50px;
                            font-size: 30px;
                        }
                        b{
                            a{
                                color: $color-letra;
                            }
                            a:hover{
                                color: gold;
                                transition: 0.8s;
                            }
                        }

                    }
                }
            }
        }
    }
    .memes-home{
        margin-right: 8px;
        grid-area: memes-home;
        .memes{
            background-color: $color-secundario;
            margin-left: 5px;
            h4{
                background-color: $color-primario;
                text-align: center;
                font-size: 25px;
            }
            .memes-flex{
                padding: 4px;
                display: grid;
                grid-template-areas:
                        "chaman eva"
                        "cora video";
                .chaman{
                    grid-area: chaman;
                    img{
                            width: 100%;
                        }
                }
                .eva{
                    grid-area: eva;
                    img{
                        width: 100%;
                    }
                }
                .cora{
                    img{
                        width: 100%;
                        grid-area: cora;
                    }
                }
                iframe{
                    height: 315px;
                    width: 100%;
                    grid-area: video;
                }
            }
        }
        .grid-ultimo {
            grid-area: ultima;
            margin-top: 25px;
        }
        .img-box{
            .manga{
                h3{
                    text-align: center;
                    background-color: $color-primario;
                }
                div{
                    background-color: $color-secundario;
                    .manga-flex{
                        @extend %manga-flex;
                        div{
                            @extend %manga-box;
                            a{
                                img{
                                    @extend %manga-img;
                                }
                                img:hover{
                                    @extend %manga-img-hover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-home {
        grid-area: footer-home;
    }
    footer{
        background-color: $color-primario;
        height: 90px;
        width: 100%;
        div{
            .siguenos{
                text-align: center;
                nav{
                    ul{
                        li{
                            display: inline-block;
                            height: 30px;
                            width: 30px;
                            text-align: center;
                            a{
                                color: aqua;
                            }
                        }
                    }
                }
            }
            .small{
                text-align: center;
                height: 20px;
                small{
                    text-align: center;
                }
            }
        }
    }
}
.home-body{
    grid-template-areas: "header-home header-home"
                         "main-home aside-home"
                         "ultima aside-home"
                         "memes-home aside-home"
                         "footer-home footer-home"
        ;
}
.body-biblioteca{
    grid-template-areas:
    "header-biblioteca header-biblioteca"
    "main-biblioteca main-biblioteca"
    "footer-biblioteca footer-biblioteca";
    .header-biblioteca {
        grid-area: header-biblioteca;
    }
    .main-biblioteca{
        grid-area: main-biblioteca;
        div{
            grid-area: aside-buscador aside-buscador;
            .main-biblioteca__form{
                background-color: $color-secundario;
                height: 45px;
                margin-top: 25px;
                margin-bottom: 20px;
                input{
                    margin-top: 5px;
                }
                .main-biblioteca__form__buscador{
                    width: 50%;
                    height: 30px;
                    font-size: 18px;
                    margin-left: 10px;
                }
                .main-biblioteca__form__enviar{
                    padding: 4px;
                }
            }
        }
        .main-biblioteca__flex{
            display: flex;
            flex-wrap: nowrap;
            grid-area: main-biblioteca;
            .main-biblioteca__aside {
                background-color: $color-secundario;
                display: map-get($map: $biblioteca__aside, $key: biblioteca-display);
                width: map-get($map: $biblioteca__aside , $key: biblioteca-width );
                margin-top: map-get($map: $biblioteca__aside , $key: biblioteca-margin-top );
                margin-left: map-get($map: $biblioteca__aside , $key: biblioteca-margin-left );
                margin-right: map-get($map: $biblioteca__aside , $key: biblioteca-margin-right );
                grid-area: aside-biblioteca;
                div{
                    .main-biblioteca__aside__h4 {
                        text-align: center;
                        background-color: $color-primario;
                        width: 100%;
                    }
                    div{
                        text-align: center;
                    }
                }
                div{
                    div{
                        .main-biblioteca__aside__h4 {
                            text-align: center;
                            background-color: $color-primario;
                            width: 100%;
                        }
                    }
                }
                div{
                    .main-biblioteca__aside__h4 {
                        text-align: center;
                        background-color: $color-primario;
                        width: 100%;
                    }
                }
            }
            .biblioteca-box{
                display: inline-block;
                margin-top: 0px;
                div{
                    width: 100%;
                    .biblioteca-flex{
                        width: 100%;
                        margin-bottom: 25px;
                        background-color: $color-secundario;
                        display: inline-block;
                        h3 {
                            text-align: center;
                            background-color: $color-primario;
                        }
                        div{
                            .manga-flex {
                                padding: 5px;
                                @extend %manga-flex;
                                div {
                                    @extend %manga-box;
                                    a{
                                        img{
                                            @extend %manga-img;
                                        }
                                        img:hover{
                                            @extend %manga-img-hover;
                                        }
                                    }
                                }
                            }
                        }
                        .botones-de-cambio{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
    .footer-biblioteca {
        grid-area: footer-biblioteca;
    }
}
.body-form{
    grid-template-areas:
        "header-formu"
        "main-formu"
        "footer-formu";
    .main-formu{
        grid-area: main-formu;
        margin-top: 10px;
        .mein-form{
            display: flex;
            align-items: center;
            width: 100%;
            .main-form__flex{
                margin: 0 auto;
                div{
                    .formulario{
                        fieldset{
                            text-align: center;
                            background-color: $color-sexto-opacity;
                            width: 470px;
                            h2{
                                text-align: center;
                                margin-top: 25px;
                                margin-bottom: 10px;
                            }
                            .apellido-nombre {
                                margin-bottom: 5px;
                                input{
                                    background: $color-sexto-opacity;
                                    font-size: $color-letra;
                                }
                            }
                            .genero {
                                margin-left: -200px;
                            }
                            .mail{
                                input {
                                    margin-left: -90px;
                                }
                                .text-asunto {
                                    margin-left: -10px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    textarea {
                                        width: 350px;
                                    }
                                }
                            }
                            .form-enviar {
                                margin-left: 300px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.cap-img-body{
    display: inline-block;
    main{
        .cap-t{
            text-align: center;
            background-color: $color-quinto;
            h2{
                color: $color-negro;
            }
            h3{
                @extend %manga-flex;
                justify-content: center;
                span{
                    color: $color-azul ;
                }
            }
        }
        .cap-img{
            img{
                width: 100%;
            }
        }
        .siguiente-cap{
            display: flex;
            justify-content: space-between;
            padding: 10px ;
            background-color: $color-sexto;
        }
    }
    .footer-cap{
        margin-top: 0;
    }
}
.body-regis {
    grid-template-areas:
        "header-regis"
        "main-regis"
        "footer-regis";
        align-items: center;
        .header-regis {
            grid-area: header-regis;
        }
        .main-form {
            grid-area: main-regis;
                display: flex;
                align-items: center;
                width: 100%;
                &__flex {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    .box-form {
                        height: 250px;
                        .formulario{
                            fieldset {
                                text-align: center;
                                background-color: #1745aa;
                                width: 470px;
                                h2 {
                                    text-align: center;
                                    margin-top: 25px;
                                    margin-bottom: 10px;
                                }
                                .apellido-nombre {
                                    margin-bottom: 5px;
                                }
                                .genero {
                                    margin-left: -200px;
                                }
                                .mail{
                                    input {
                                        margin-left: -90px;
                                    }
                                    .password {
                                        margin-top: 5px;
                                        margin-bottom: 5px;
                                        margin-left: 95px;
                                        input {
                                            margin-left: -90px;
                                        }
                                        .repetir-password {
                                            margin-left: 5px;
                                        }
                                    }
                                }
                                .form-enviar {
                                    margin-left: 300px;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
        }
        .footer-regis {
            grid-area: footer-regis;
        }
}
/*mesiaqueris*/
@import "utilities/mediaqueris";