//colores
$color-primario:#071E3D;
$color-secundario:#1F4287;
$color-tercero:#278EA5;
$color-cuarto:#fff;
$color-quinto:#5865f2;
$color-sexto:#1745aa;
$color-sexto-opacity:#0e2e74a1;
$color-letra:#D9FAFF;
$color-fondo:#222;
$color-fondo-opacity:#22222296;
$color-negro:#000000;
$color-azul:#0644ff;